
.info{
background-color:lightgrey; 
width:50%;
position:relative;
padding: 5%;
margin-right: 10%;
margin-bottom: 10%;
float: right;
}

.warning{
background-color:orange; 
width:50%;
position:relative;
padding: 5%;
margin-right: 10%;
margin-bottom: 10%;
float: right;
}

.error{
background-color:red; 
width:50%;
position:relative; 
padding: 5%;
margin-right: 10%;
margin-bottom: 10%;
float: right;
}


.title{
color:black; 
position:absolute;
top:-1.5em; 
left:0em; 
width:100px;
height:25px;
border: none; 
background-color:inherit; 
text-align:center; 
border:inherit; 
border-radius:inherit; 
color:white;
}
