.info{
background-color:lightgrey; 
width:400px;
height:100px;
position:relative;
border:2px;
}

.warning{
background-color:orange; 
width:400px;
height:100px;
position:relative;
border:2px;
}

.error{
background-color:red; 
width:200px;
height:100px;
position:relative;
border-radius:5px; 
border:2px; 
}


.title{
color:black; 
position:absolute;
top:-15px; 
left:5px; 
width:100px;
height:20px;
border: none; 
background-color:inherit; 
text-align:center; 
border:inherit; 
border-radius:inherit; 
color:white;
}

.message{
position:absolute;
top:25px; 
left:5px; 
}