<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
     {{ title }} 

  </h1>
  <img width="300" alt="Angular Logo" src="https://i.pinimg.com/736x/3c/91/b0/3c91b0da02d031f5553deaeca6a4ac6a--thug-life-tee-shirts.jpg">
</div>
<ol>
  <li [class.erreur]="p==personne" (click)="clickOn(p)" *ngFor="let p of liste"> {{p.prenom}} {{p.nom }} </li>
</ol>
<h2>Contributor details:</h2>
<ul>
  <li>
    <strong>Name:</strong>  {{ personne.nom }}
  </li>
  <li>
    <strong>Surname:</strong>  {{ personne.prenom }}
  </li>
   <li>
    <strong>Good at:</strong>  {{ personne.description }}
  </li> 
  <li>
     <strong>Favorite quote:</strong>  <cite>{{ personne.travail }}</cite>
  </li>

</ul>

<div> 
  <h2>Modifications</h2>

    <h3 *ngIf="!personne.nom">Attention nom PAS défini</h3>
    <h3 *ngIf="!personne.prenom">Attention prenom PAS défini</h3>
    <h3 *ngIf="personne.prenom=='Yves'">Alert, tu n'as pas le droit, change de nom!</h3>


    <ul>
       <li><input class="{{personne.nom}}"
           [class.erreur]="!personne.nom" 
           [class.info]="personne.nom=='Fernando'" 
          [(ngModel)]="personne.nom" /></li>
       <li><input [(ngModel)]="personne.prenom" placeholder ="prenom"/></li>
       <li><textarea [(ngModel)]="personne.description" placeholder ="description">
    </textarea></li>
      <li><textarea [(ngModel)]="personne.travail" placeholder ="travail">
    </textarea></li>
      </ul>
</div>


  <h3>Calculatrice</h3>
 <table border="1" cellpadding="10" cellspacing="0">
    <tr>
        <td colspan="6"><input type="text" readonly="readonly" name="output" id="res" value="{{output}}"/></td>
    </tr>
    

    <tr>
        <td (click)="calcOn('1')"><input type="button" name="btn1"  value="1"/></td>
        <td (click)="calcOn('2')"><input type="button" name="btn2"  value="2" /></td>
        <td (click)="calcOn('3')"><input type="button" name="btn3"  value="3" /></td>
        <td (click)="calcOn('-')"><input type="button" name="moins" value="-"/></td>
    </tr>
    <tr>
        <td (click)="calcOn('4')"><input type="button" name="btn4"  value="4" /></td>
        <td (click)="calcOn('5')"><input type="button" name="btn5"  value="5" /></td>
        <td (click)="calcOn('6')"><input type="button" name="btn6"  value="6" /></td>
        <td (click)="calcOn('+')"><input type="button" name="plus" value="+"  /></td>
    </tr>
    <tr>
        <td (click)="calcOn('7')"><input type="button" name="btn7"  value="7" /></td>
        <td (click)="calcOn('8')"><input type="button" name="btn8"  value="8" /></td>
        <td (click)="calcOn('9')"><input type="button" name="btn9"  value="9" /></td>
        <td (click)="calcOn('=')"><input type="button" name="egal" value="=" /></td>
    </tr>
    <tr>
        <td (click)="calcOn('0')"><input type="button" name="btn0"  value="0" /></td>
        <td (click)="calcOn('*')"><input type="button" name="multiply" value="*" /></td>
        <td (click)="calcOn('/')"><input type="button" name="divide" value="/" /></td>
        <td (click)="calcOn('c')"><input type="button" name="clear" value="c" /></td>
    </tr>
  </table>
      

   


