<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }} 

  </h1>
  <img width="300" alt="Angular Logo" src="https://i.pinimg.com/736x/3c/91/b0/3c91b0da02d031f5553deaeca6a4ac6a--thug-life-tee-shirts.jpg">
</div>
<h2>Contributor details:</h2>
<ul>
  <li>
    <strong>Name:</strong>  {{ personne.nom }}
  </li>
  <li>
    <strong>Surname:</strong>  {{ personne.prenom }}
  </li>
   <li>
    <strong>Good at:</strong>  {{ personne.description }}
  </li> 
  <li>
     <strong>Favorite quote:</strong>  <cite>{{ personne.travail }}</cite>
  </li>

</ul>

<div> 
  <h2>Modifications</h2>
    <ul>
    <label> Surname : </label>
       <li (click)="clickOn()"><input [(ngModel)]="personne.prenom" placeholder ="Prenom"/></li>
    <label> Name : </label>
       <li><input [(ngModel)]="personne.nom" placeholder ="Nom"/></li>
    <label> Description : </label>
       <li><textarea [(ngModel)]="personne.description" placeholder ="description">
    </textarea></li>
    <label> Resume : </label>
      <li><textarea [(ngModel)]="personne.travail" placeholder ="travail">
    </textarea></li>
      </ul>
</div>




