<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }} 

  </h1>
  <img width="300" alt="Angular Logo" src="https://i.pinimg.com/736x/3c/91/b0/3c91b0da02d031f5553deaeca6a4ac6a--thug-life-tee-shirts.jpg">
</div>
<h2>Contributor details:</h2>
<ul>
  <li>
    <strong>Name:</strong>  {{ personne.nom }}
  </li>
  <li>
    <strong>Surname:</strong>  {{ personne.prenom }}
  </li>
   <li>
    <strong>Good at:</strong>  {{ personne.description }}
  </li> 
  <li>
     <strong>Favorite quote:</strong>  <cite>{{ personne.travail }}</cite>
  </li>

</ul>

<div> 
  <h2>Modifications</h2>
    <ul>
    <label> Surname : </label>
       <li (click)="clickOn()"><input [(ngModel)]="personne.prenom" placeholder ="Prenom"/></li>
    <label> Name : </label>
       <li><input [(ngModel)]="personne.nom" placeholder ="Nom"/></li>
    <label> Description : </label>
       <li><textarea [(ngModel)]="personne.description" placeholder ="description">
    </textarea></li>
    <label> Resume : </label>
      <li><textarea [(ngModel)]="personne.travail" placeholder ="travail">
    </textarea></li>
      </ul>
</div>

  <h3>Calculatrice</h3>
 <form>
      <p>
      <input type="text" readonly="readonly" name="output" id="res" value="{{output}}">
      </p>
    

    <p>
        <button name="btn1"  value="1" (click)='calcOn(1)'>1</button>
        <button name="btn2"  value="2" (click)='calcOn(2)'>2</button>
        <button name="btn3"  value="3" (click)='calcOn(3)'>3</button>
        <button name="Moins"  (click)='subtract()'> - </button>
        <br>
        <button name="btn4"  value="4" (click)='calcOn(4)'>4</button>
        <button name="btn5"  value="5" (click)='calcOn(5)'>5</button>
        <button name="btn6"  value="6" (click)='calcOn(6)'>6</button>
        <button name="Plus"  (click)='add()'>+</button>
        <br>
        <button name="btn7"  value="7" (click)='calcOn(7)'>7</button>
        <button name="btn8"  value="8" (click)='calcOn(8)'>8</button>
        <button name="btn9"  value="9" (click)='calcOn(9)'>9</button>
        <button name="Egal" (click)='calculate()'>=</button>
        <br>
        <button name="btn0"  value="0" (click)='calcOn(0)'>0</button>
        <button name="multiply" (click)='multiply()'>x</button>
        <button name="divide" (click)='divide()'>/</button>
        <button name="clear"  (click)='clear()'>C</button>
      </p>
    </form>
      

   


